*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.csv
*.doc
*.docx
*.gif
*.jpeg
*.jpg
*.mp3
*.mp4
*.mpg
*.orig
*.pdf
*.png
*.ppt
*.psd
*.tif
*.tiff
*.wav
*.wmv
*.xlsx
*.xml
*.zip
*.CSV
*.DOC
*.DOCX
*.GIF
*.JPEG
*.JPG
*.MP3
*.MP4
*.MPG
*.ORIG
*.PDF
*.PNG
*.json.txt
*.pptx
*.PPT
*.PSD
*.TIF
*.TIFF
*.WAV
*.WMV
*.XLSX
*.XML
*.ZIP
*trash*
.DS_Store
.bundle
.sass-cache
.sass-cache
.vscode
*.fla
*.swf
*.pem
*.ppk
code to run in the inspector.txt
creatediv.php
debug.log
editR96.php
favicon.ico
file-info.php
fill-and-sim.html
fix.php
index (1).php
index-sept20.php
index-sept23.php
index.php
inspectCookies.html
labs.svg
life-balance-form copy.html
life-balance-form.html
list.php
make.php
makechart.php
new copy under 60.html
new copy.html
notes auguset 27 2021.txt
notes jan 19 2022.txt
notes nov 18 2021.txt
notes oct 2021.txt
notes october 13.txt
notes.js
notesnovember 1.txt
pdf.php
ph1.pem
ph1.ppk
pk-APKAIHMCMPSYBLQXMRWA.pem
pk-DXQSYNKCZNNE4XTOA7RQFM7Z65XKJVUS.pem
pngsaver.php
putter.html
putter.php
recover.php
recursive.php
remove-old-pngs.php
responder.html
reviewresults.php
savepdf.html
security.php
server-info.php
serviceworker.js
serviceworkier.js
sim-tools.html
social.php
styles.css
temp.html
test.html
test.php
thesite.json
trash.html
trash.js
trash.php
valvet.html
zippie.php
zippie_server.php
Gruntfile.js
_notes/
node_modules/
package-lock.json
package.json
phpMyAdmin/
mhn-page/
slice/
blog/
blog57/
legal-documents/
pieTools/
tests/
pma/
sitemap.xml.gz
tmp/
wp-config.php
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
pielet/becomeamember
pielet/coach
pielet/create
pielet/average.php
pielet/bookmarklet.html
pielet/chartjs-plugin-watermark.js
pielet/counter.html
pielet/demo.html
pielet/demo.php
pielet/dompdf.php
pielet/everything.php
pielet/fix-f-bug.php
pielet/force.php
pielet/gather.php
pielet/generic-nav.html
pielet/life-balance-form copy.html
pielet/life-balance-form.html
pielet/list.php
pielet/makechart.php
pielet/move-ids.php
pielet/multi.php
pielet/pick-password.php
pielet/pietential.legacy.php
pielet/privacy.html
pielet/r5dQMf7dqdxd.html
pielet/recursive.php
pielet/remove-ids.php
pielet/responder.html
pielet/reviewresults.php
pielet/run-sim.php
pielet/samples.html
pielet/samples.php
pielet/save-snapshot.php
pielet/serverless-geolocation.js
pielet/showR96.php
pielet/social.php
pielet/test.html
pielet/trash.html
pielet/trash.js
pielet/universal-footer.php
pielet/update-localserver.php
pielet/update.php
pielet/yJuQ8Qpq7gen.html
pielet/new-account
pielet/remove-old-pngs.php
pielet/pdf.html
pielet/download
pielet/branding.html
pielet/admin/trash.html
pielet/admin/oledr.php
pielet/admin/d.png
pielet/admin/settings.svg
pielet/admin/settings (1).svg
pielet/admin/history.svg
pielet/admin/pie-chart.svg
pielet/admin/people.svg
pielet/admin/70046.jpg
pielet/admin/pexels-andrea-piacquadio-3768182.jpg
pielet/admin/getusers.php
pielet/admin/jstar.png
pielet/admin/Roscoe Carpenter - pietential analysis.html
pielet/admin/PLANEER-SYSTEMS promo codes.csv
pielet/admin/miller.png
pielet/admin/fixPromoCodes.php
pielet/admin/create.html
pielet/admin/buildPromoCodeBase.php
pielet/admin/calculate-averages.html
pielet/admin/cohort.html
pielet/admin/draw-history.html
pielet/admin/create-fake.html
pielet/admin/WTntrGeyq7MD.json.txt
pielet/admin/build-cohort.html
pielet/admin/stan.html